#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#export DH_VERBOSE = 1

%:
	dh $@

override_dh_auto_install:
	# don't call `make install`, that'd try to create users, /var files and
	# doesn't support ${DESTDIR} (and even if it did, there wouldn't be
	# much left of it if all the var and user creation parts were removed)

override_dh_auto_configure:
	mkdir -p debian/etc
	cp etc/acme-wrapper.conf-dist debian/etc/acme-wrapper.conf
	cp etc/domains.list-dist debian/etc/domains.list
